*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.918);
}

h1{
    text-align: center;
}
label {
    font-weight: bold;
    color:whitesmoke ;
}

button{
    background-color: rgb(161, 102, 102);
    padding: 10px 20px; border-radius: 40px;
}